.ghissues_list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	border:__border__;	
	border-style:none none solid none;
	border-width:1px;
}

.ghissues_plugin_labels {
    font-weight:bold;
    font-size:smaller;
}

.ghissues_dark {
    color:#ffffff;
    margin-left=2px;
    margin-right=2px;
    padding:0.1em 0.3em;
    border-radius:4px;
}

.ghissues_light {
    color:#000000;
    margin-left=2px;
    margin-right=2px;
    padding:0.1em 0.3em;
    border-radius:4px;
}

.ghissues_plugin_box {
	color:__text__;
	border:__border__;
	background-color:__background_alt__;
	border-style:solid;
	border-width:1.5px;
	border-radius:5px;
	padding:0px;
	margin:1em 0em 1em 0em;
}

.ghissues_plugin_box_header {
	color:__text__;
	font-size:larger;
	font-weight:bold;
	border-style:none;
	margin:0.1em;
	padding:0.2em 0.2em 0.2em 0.7em;
}

.ghissues_plugin_box_footer {
	color:__text__;
	font-size:smaller;
	margin:0.1em;
	padding:0.1em 0.1em 0.1em 0.7em;
}
.ghissues_plugin_issue_line {
	color:__text__;
	border:__border__;
	background-color:__background__;
	border-style:solid none none none;
	border-width:1px;
	padding:0.3em 0.3em 0.3em 0.8em;
	margin:0px;
}

.ghissues_plugin_issue_title {
	color:inherit;
	border-style:none;
	padding:0.1em;
	margin-right:2px;
	font-size:larger;
	font-weight:bold;
}

a:link.ghissues_plugin_issue_title {
	color:__text__;
	text-decoration: none;
}

a:visited.ghissues_plugin_issue_title {
	color:__text__;
	text-decoration: none;
}

a:hover.ghissues_plugin_issue_title {
	color:__text_alt__;
	text-decoration: underline;
}

a:active.ghissues_plugin_issue_title {
	color:__text_alt__;
	text-decoration: underline;
}

.ghissues_plugin_issue_report {
	color:inherit;
	border-style:none;
	padding:0.1em;
	font-size:smaller;
	font-style:italic;
}

.ghissues_plugin_api_err {
	font-size:large;
}